body{
    background-color: #A800FF;
}
.lesson{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left:30px ;
}


.lesson prog{
    padding-top: 100px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100vh;
    margin-top: 20 px;
    float:left;
}
.lesson homeec{
    padding-top: 300px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100vh;
    float:left;
    margin-top: 20 px;
}
.lesson daytrade{
    padding-top: 300px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100vh;
    float:left;
    margin-top: 60 px;
}

.modal{
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
    background-color: white;
    margin-top: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}