:root {
    --primary: #fff;
  }
  
  .learning {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .crd--primary {
    background-color: #242424;
    color: #EFBF00;
    border: 3px solid #EFBF00;
  }

  .crd--nav{
    background-color: #7700FF ;
    color:#fff;
    border: 1px solid #E43FFF;
  }
  
  .crd--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .crd--medium {
    padding: 50px 74px;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3 px;
  }
  
  .crd--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .crd--large:hover,
  .crd--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #7700FF;
    transition: 250ms;
  }