.header{
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    z-index: -1;
}
.why{
    display: flex;
    flex-direction: row;
    position: relative;
}
.security, .grow, .financial{
    display: flex;
    flex-direction: column;
    background-color: #410F70;
    color: white;
    align-items: center;
    margin: 10px;
    padding: 60px 20px;
    border-radius: 10px;

} 
.grow h3, .grow p, .financial h3, .financial p, .security h3, .security p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}